.container {
    margin: 0;
}

#dropzone {
    text-align: center;
    padding: 40px;
}


.splash{
  width:100%; height:100%;
  position:absolute; z-index:999;

  background: url(img/botsquad.png) no-repeat center center fixed; 
  /*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;

}
